<mat-toolbar color="primary">
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon>menu</mat-icon>
    </button>
    <span >Login GUI</span>
    <span class="example-spacer"></span>


    <a *ngIf="loggedIn" (click)="logoutUser()" mat-button  routerLinkActive="active"  >Logout</a>

    <a *ngIf="!loggedIn"  mat-button routerLink="/login" routerLinkActive="active"  >Login</a>
    <a *ngIf="!loggedIn"  mat-button routerLink="/signup" routerLinkActive="active"  >signup</a>
  </mat-toolbar>